@mixin Inter($weight){
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
}
@mixin Roboto($weight){
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
}
.header{
    display: flex;
    height: 108px;
    background: #E95D2A;
    flex-direction: column;
    &_top-container{
        height: 45px;
        background: forestgreen;
        &_content-top{
            display: flex;
            align-items: center;
            width: 1385px;
            height: 45px;
            background: firebrick;
            margin: 0 auto;
            &_logo-container{
                display: flex;
                width: 196px;
                height: 26.7px;
                background: darkgoldenrod;
                &_svg{
                width: 160px;
                height: 100%;
                }
                &_img{
                    width: 27px;
                    height: 26px;
                }
            }
            &_city-btn{
                display: flex;
                align-items: center;
                width: 37px;
                height: 16px;
                background: darkmagenta;
                column-gap: 5.8px;
                margin-left: 42.16px;
                &_title{
                    @include Inter(400);
                    font-size: 10px;
                    color: white;
                }
                &_svg{
                    width: 9.61px;
                    height: 6px;
                }
            }
            &_items{
                display: flex;
                align-items: center;
                width: 288px;
                height: 13px;
                background: darkgrey;
                justify-content: space-between;
                margin-left: 105px;
                &_action-container{
                    display: flex;
                    width: 62.58px;
                    height: 13px;
                    background: fuchsia;
                    align-items: center;
                    &_svg{
                        width: 13px;
                        height: 13px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
                &_sale-container{
                    display: flex;
                    align-items: center;
                    column-gap: 7px;
                    width: 118.47px;
                    height: 12px;
                    background: cornflowerblue;
                    &_svg{
                        width: 12px;
                        height: 12px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
                &_location-container{
                    display: flex;
                    align-items: center;
                    width: 66.59px;
                    height: 12px;
                    background: darkturquoise;
                    column-gap: 7px;
                    &_svg{
                        width: 9px;
                        height: 12px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
            }
            &_right-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 450px;
                height: 16px;
                background: rgb(146, 141, 182);
                margin-left: 268px;
                &_shop-container{
                    display: flex;
                    align-items: center;
                    width: 70.61px;
                    height: 15px;
                    background: darkgreen;
                    column-gap: 8.21px;
                    &_title{
                        @include Inter (400);
                        font-size: 10px;
                        color: white;
                    }
                    &_svg{
                        width: 9.61px;
                        height: 6px;
                    }
                }
                &_call-centr-container{
                    display: flex;
                    align-items: center;
                    width: 72.39px;
                    height: 12px;
                    background: firebrick;
                    column-gap: 9.79px;
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                    &_svg{
                        width: 9.61px;
                        height: 6px;
                    }
                }
                &_leng-cont{
                    display: flex;
                    width: 55px;
                    height: 16px;
                    background: rgb(74, 74, 226);
                    &_UA{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25.86px;
                        height: 16px;
                        @include Inter(400);
                        font-size: 9px;
                        border-radius: 4px;
                        color: white;
                        &:hover{
                            background: rgba(255, 255, 255, 0.3);
                        }
                        &:focus{
                            background: rgba(195, 26, 26, 0.3);
                        }
                    }
                    &_ru{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25.86px;
                        height: 16px;
                        @include Inter(400);
                        font-size: 9px;
                        border-radius: 4px;
                        color: white;
                        &:hover{
                            background: rgba(255, 255, 255, 0.3);
                        }
                        &:focus{
                            background: rgba(195, 26, 26, 0.3);
                        }
                    }
                }
                &_sing-in{
                    @include Inter(400);
                    font-size: 10px;
                    color: white;
                }
            }
        }
    }
    &_down-container{
        display: flex;
        align-items: center;
        height: 63px;
        background: darkgreen;
        &_contenet-down{
            display: flex;
            align-items: center;
            width: 1393px;
            height: 47px;
            background: rgb(123, 178, 34);
            margin: 0 auto;
            &_burger-menu{
                display: flex;
                width: 123px;
                height: 15px;
                background: black;
                border: none;
                padding: 0;
                align-items: center;
                column-gap: 8px;
                &_svg{
                    width: 12px;
                    height: 11px;
                }
                &_title{
                    @include Inter(400);
                    font-size: 11px;
                    color: white;
                }
                &:focus +.list{
                    display: flex;
                }
            }
        }
    }
}
.list{
    display: none;
    row-gap: 3.64px;
    flex-direction: column;
    position: absolute;
    left:51px;
    top:108px;
    list-style: none;
    width: 330px;
    height: 625px;
    background: salmon;
    padding-top: 19px;
    border-radius:  0 0 20px 20px;
    &_item{
        display: flex;
        align-items: center;
        width: 330px;
        height: 37px;
        background: darkcyan;
        justify-content: space-between;
        padding: 0 15px;
        &_dicrout-container{
            display: flex;
            column-gap: 10px;
            &_discrout-svg{
                width: 15.06px;
                height: 16px;
            }
        }
       &_row-list{
        width: 5.1px;
        height: 18px;
       }
       &_smartphone-container{
        display: flex;
        column-gap: 10px;
        &_phone-svg{
            width: 12.24px;
            height: 16px;
        }
       }
       &_kitchen-container{
        display: flex;
        column-gap: 10px;
        &_kitchen-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_house-container{
        display: flex;
        column-gap: 10px;
        &_house-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_pc-container{
        display: flex;
        column-gap: 10px;
        &_pc-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_tv-container{
        display: flex;
        column-gap: 10px;
        &_tv-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_game-container{
        display: flex;
        column-gap: 10px;
        &_game-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_watch-container{
        display: flex;
        column-gap: 10px;
        &_watch-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_photo-container{
        display: flex;
        column-gap: 10px;
        &_photo-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_garden-container{
        display: flex;
        column-gap: 10px;
        &_garden-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_dishes-container{
        display: flex;
        column-gap: 10px;
        &_dishes-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_sport-container{
        display: flex;
        column-gap: 10px;
        &_sport-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_tool-container{
        display: flex;
        column-gap: 10px;
        &_tool-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_toys-container{
        display: flex;
        column-gap: 10px;
        &_toys-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_more-container{
        display: flex;
        column-gap: 10px;
        &_more-svg{
            width: 16px;
            height: 16px;
        }
       }
    }
}
.end{
    border-radius: 0 0 20px 20px;
}
.fontSize{
    @include Inter(400);
    font-size: 11px;
    color: #fff;
}