.header {
  height: 108px;
  background: #E95D2A;
  padding-top: 11px;
}
.header_content {
  width: 1440px;
  height: 27px;
  margin: 0 auto;
  display: flex;
}
.header_content_logo {
  display: flex;
  width: 195px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.header_content_sub-items {
  width: 451px;
  height: 13px;
  margin-top: 7px;
  display: flex;
  align-items: center;
  -moz-column-gap: 105px;
       column-gap: 105px;
  margin-left: 42px;
}
.header_content_sub-items_city-btn {
  width: 61px;
  height: 12px;
  border: none;
  display: flex;
  align-items: center;
  background: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 0;
  -moz-column-gap: 6px;
       column-gap: 6px;
  color: white;
}
.header_content_sub-items_city-btn_svg1 {
  fill: none;
}
.header_content_sub-items_city-btn_svg {
  width: 9.61px;
  height: 6px;
}
.header_content_sub-items_two {
  width: 285px;
  height: 13px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header_content_sub-items_two_action-cont {
  display: flex;
  width: 57px;
  height: 13px;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  cursor: pointer;
}
.header_content_sub-items_two_action-cont_action {
  width: 9.75px;
  height: 9.75px;
}
.header_content_sub-items_two_action-cont_title {
  display: flex;
  align-items: center;
  width: 40px;
  height: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: white;
}
.header_content_sub-items_two_sale-cont {
  width: 118px;
  height: 12px;
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
  cursor: pointer;
}
.header_content_sub-items_two_sale-cont_sale-svg {
  width: 12px;
  height: 12px;
}
.header_content_sub-items_two_sale-cont_title {
  display: flex;
  align-items: center;
  height: 12px;
  width: 99px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: white;
}
.header_content_sub-items_two_location-cont {
  display: flex;
  width: 64px;
  height: 12px;
  -moz-column-gap: 7px;
       column-gap: 7px;
  cursor: pointer;
}
.header_content_sub-items_two_location-cont_svg {
  width: 9px;
  height: 12px;
}
.header_content_sub-items_two_location-cont_title {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: white;
}
.header_content_right-cont {
  display: flex;
  margin-left: 270.66px;
  margin-top: 6px;
  width: 468.53px;
  height: 16px;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.header_content_right-cont_buyers {
  display: flex;
  width: 82px;
  height: 15px;
  background: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: white;
  -moz-column-gap: 8.21px;
       column-gap: 8.21px;
  border: none;
}
.header_content_right-cont_buyers_svg {
  width: 9.61px;
  height: 9px;
}
.header_content_right-cont_callcenter {
  align-items: center;
  width: 85.38px;
  height: 16px;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  background: none;
  -moz-column-gap: 8.21px;
       column-gap: 8.21px;
  color: white;
  border: none;
}
.header_content_right-cont_callcenter_svg {
  width: 9.61px;
  height: 6px;
}
.header_content_right-cont_lenguage {
  height: 17px;
  width: 54px;
  display: flex;
}
.header_content_right-cont_lenguage_Ukraine {
  display: flex;
  width: 25.85px;
  height: 100%;
  background: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: none;
}
.header_content_right-cont_lenguage_Ukraine:focus {
  background: rgba(255, 255, 255, 0.3);
}
.header_content_right-cont_lenguage_Ukraine_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  color: #fff;
}
.header_content_right-cont_lenguage_ru {
  border-radius: 4px;
  width: 25.85px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}
.header_content_right-cont_lenguage_ru:focus {
  background: rgba(255, 255, 255, 0.3);
}
.header_content_right-cont_lenguage_ru_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  color: #fff;
}
.header_content_right-cont_sign-in_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: white;
  cursor: pointer;
}
.header_two {
  position: absolute;
  top: 45px;
  background: rgba(193, 40, 40, 0.05);
  display: flex;
  height: 63px;
  align-items: center;
}
.header_two_content {
  display: flex;
  width: 1440px;
  height: 100%;
  margin-left: 25px;
  align-items: center;
  justify-content: space-between;
}
.header_two_content_menu-container {
  display: flex;
  width: 123px;
  height: 16px;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  cursor: pointer;
}
.header_two_content_menu-container_svg {
  width: 12px;
  height: 11px;
}
.header_two_content_menu-container_title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 9px;
  color: white;
}
.header_two_content_seach-panel {
  display: flex;
  width: 587.36px;
  height: 46px;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
  border-radius: 4px 4px 4px 4px;
}
.header_two_content_seach-panel_input {
  border: none;
  background: none;
  color: #fff;
}
.header_two_content_seach-panel_input::-moz-placeholder {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}
.header_two_content_seach-panel_input::placeholder {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}
.header_two_content_seach-panel_icon {
  margin-left: 24px;
  width: 13px;
  height: 13px;
}
.header_two_content_seach-panel_input {
  width: 400.95px;
  margin-left: 15px;
}
.header_two_content_seach-panel_microsvg {
  width: 29.88px;
  height: 29.88px;
  cursor: pointer;
}
.header_two_content_seach-panel_btn {
  width: 90.41px;
  height: 100%;
  margin-left: 12.65px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px 4px 4px 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.header_two_content_stats {
  display: flex;
  width: 374.11px;
  height: 29px;
  align-items: center;
}
.header_two_content_stats_Comparison {
  width: 21.23px;
  height: 17.05px;
  cursor: pointer;
}
.header_two_content_stats_heart {
  width: 20.25px;
  height: 18px;
  cursor: pointer;
  margin-left: 43px;
}
.header_two_content_stats_bonus-balance {
  display: flex;
  width: 116.95px;
  height: 100%;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.header_two_content_stats_bonus-balance_foxCoin {
  width: 21px;
  height: 21px;
}
.header_two_content_stats_bonus-balance_title {
  margin-left: 7px;
  width: 88.95px;
  height: 100%;
}
.header_two_content_stats_bonus-balance_title_youreBonus {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.header_two_content_stats_bonus-balance_title_gift {
  padding-top: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  color: #fff;
}
.header_two_content_stats_bonus-balance_title_gift_cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 54px;
  top: -12px;
  width: 34.68px;
  height: 17px;
  background: yellow;
  border-radius: 3px;
}
.header_two_content_stats_bonus-balance_title_gift_cont_text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
}
.header_two_content_stats_baket-content {
  display: flex;
  align-items: center;
  width: 118.89px;
  height: 100%;
  margin-left: 25px;
  cursor: pointer;
}
.header_two_content_stats_baket-content_svg {
  width: 25.88px;
  height: 23px;
}
.header_two_content_stats_baket-content_title {
  margin-left: 7.32px;
  width: 86.02px;
  height: 100%;
}
.header_two_content_stats_baket-content_title_basket {
  font-family: "Inter";
  font-weight: 400;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.header_two_content_stats_baket-content_title_add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 17px;
  background: yellow;
  border-radius: 3px;
}
.header_two_content_stats_baket-content_title_add_goods {
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
}

@media screen and (max-width: 425px) {
  .header {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */