@mixin Inter($weight){
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
}
@mixin Roboto($weight){
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
}
.header{
    display: flex;
    height: 108px;
    background: #E95D2A;
    flex-direction: column;
    &_top-container{
        height: 45px;
        background: forestgreen;
        &_content-top{
            display: flex;
            align-items: center;
            width: 1440px;
            height: 45px;
            background: firebrick;
            margin: 0 auto;
            &_logo-container{
                display: flex;
                width: 196px;
                height: 26.7px;
                background: darkgoldenrod;
                &_svg{
                width: 160px;
                height: 100%;
                }
                &_img{
                    width: 27px;
                    height: 26px;
                }
            }
            &_city-btn{
                display: flex;
                align-items: center;
                width: 37px;
                height: 16px;
                background: darkmagenta;
                column-gap: 5.8px;
                margin-left: 42.16px;
                &_title{
                    @include Inter(400);
                    font-size: 10px;
                    color: white;
                }
                &_svg{
                    width: 9.61px;
                    height: 6px;
                }
            }
            &_items{
                width: 284px;
                height: 13px;
                background: darkgrey;
                &_action-container{
                    display: flex;
                    width: 62.58px;
                    height: 13px;
                    background: fuchsia;
                    align-items: center;
                    column-gap: 7px;
                    &_svg{
                        width: 13px;
                        height: 13px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
            }
        }
    }
    &_down-container{
        display: flex;
        align-items: center;
        height: 63px;
        background: darkgreen;
        &_contenet-down{
            width: 1440px;
            height: 45px;
            background: rgb(123, 178, 34);
            margin: 0 auto;
        }
    }
}