@mixin Inter($weight){
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
}
@mixin Roboto($weight){
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
}
.header{
    display: flex;
    height: 108px;
    background: #E95D2A;
    flex-direction: column;
    &_top-container{
        height: 45px;
        &_content-top{
            display: flex;
            align-items: center;
            width: 1385px;
            height: 45px;
            margin: 0 auto;
            &_logo-container{
                display: flex;
                width: 196px;
                height: 26.7px;
                &_svg{
                width: 160px;
                height: 100%;
                }
                &_img{
                    width: 27px;
                    height: 26px;
                }
            }
            &_city-btn{
                display: flex;
                align-items: center;
                width: 37px;
                height: 16px;
                column-gap: 5.8px;
                margin-left: 42.16px;
                &_title{
                    @include Inter(400);
                    font-size: 10px;
                    color: white;
                }
                &_svg{
                    width: 9.61px;
                    height: 6px;
                }
            }
            &_items{
                display: flex;
                align-items: center;
                width: 288px;
                height: 13px;
                justify-content: space-between;
                margin-left: 105px;
                &_action-container{
                    display: flex;
                    width: 62.58px;
                    height: 13px;
                    align-items: center;
                    &_svg{
                        width: 13px;
                        height: 13px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
                &_sale-container{
                    display: flex;
                    align-items: center;
                    column-gap: 7px;
                    width: 118.47px;
                    height: 12px;
                    &_svg{
                        width: 12px;
                        height: 12px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
                &_location-container{
                    display: flex;
                    align-items: center;
                    width: 66.59px;
                    height: 12px;
                    column-gap: 7px;
                    &_svg{
                        width: 9px;
                        height: 12px;
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                }
            }
            &_right-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 450px;
                height: 16px;
                margin-left: 268px;
                &_shop-container{
                    display: flex;
                    align-items: center;
                    width: 70.61px;
                    height: 15px;
                    column-gap: 8.21px;
                    &_title{
                        @include Inter (400);
                        font-size: 10px;
                        color: white;
                    }
                    &_svg{
                        width: 9.61px;
                        height: 6px;
                    }
                }
                &_call-centr-container{
                    display: flex;
                    align-items: center;
                    width: 72.39px;
                    height: 12px;
                    column-gap: 9.79px;
                    &_title{
                        @include Inter(400);
                        font-size: 10px;
                        color: white;
                    }
                    &_svg{
                        width: 9.61px;
                        height: 6px;
                    }
                }
                &_leng-cont{
                    display: flex;
                    width: 55px;
                    height: 16px;
                    &_UA{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25.86px;
                        height: 16px;
                        @include Inter(400);
                        font-size: 9px;
                        border-radius: 4px;
                        color: white;
                        &:hover{
                            background: rgba(255, 255, 255, 0.3);
                        }
                        &:focus{
                            background: rgba(195, 26, 26, 0.3);
                        }
                    }
                    &_ru{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 25.86px;
                        height: 16px;
                        @include Inter(400);
                        font-size: 9px;
                        border-radius: 4px;
                        color: white;
                        &:hover{
                            background: rgba(255, 255, 255, 0.3);
                        }
                        &:focus{
                            background: rgba(195, 26, 26, 0.3);
                        }
                    }
                }
                &_sing-in{
                    @include Inter(400);
                    font-size: 10px;
                    color: white;
                }
            }
            &__mobile-btn{
                display: none;
            }
            &_burger-menu{
                display: none;
            }
        }
    }
    &_down-container{
        display: flex;
        align-items: center;
        height: 63px;
        &_contenet-down{
            display: flex;
            align-items: center;
            width: 1393px;
            height: 47px;
            margin: 0 auto;
            justify-content: space-between;
            &_burger-menu{
                display: flex;
                width: 123px;
                height: 15px;
                background: none;
                border: none;
                padding: 0;
                align-items: center;
                column-gap: 8px;
                &_svg{
                    width: 12px;
                    height: 11px;
                }
                &_svg-mobile{
                    display: none
                }
                &_title{
                    @include Inter(400);
                    font-size: 11px;
                    color: white;
                }
            }
            &_search-panel{
                width: 591.36px;
                height: 46px;
                background: rgba(255, 255, 255, 0.3);
                margin-left: 80px;
                border-radius: 4px 4px 4px 4px;
                display: flex;
                align-items: center;
                padding:  0 0 0 24px;
                &_svg{
                    width: 13px;
                    height: 13px;
                }
                &_input{
                    height: 100%;
                    width: 100%;
                    background: none;
                    border: none;
                    &::placeholder{
                        color: #fff;
                    }
                }
                &_microphone{
                    width: 29.88px;
                    height: 29.88px;
                }
                &_btn{
                    width: 90.41px;
                    height: 46px;
                    border: none;
                    border-radius: 0px 4px 4px 0px;
                    background: rgba(255, 255, 255, 0.5);
                    color: white;
                }
            }
            &_stats-account{
                display: flex;
                align-items: center;
                width: 374px;
                height: 34px;
                justify-content: space-between;
                &_comparison{
                    width: 22.02px;
                    height: 18px;
                }
                &_heart{
                    width: 20.25px;
                    height: 18px;
                }
                &_bonus-container{
                    display: flex;
                    column-gap: 7px;
                    width: 116.95px;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    &_svg{
                        width: 21px;
                        height: 21px;
                    }
                    &_title-container{
                        &_up{
                            @include Inter(400);
                            font-size: 11px;
                            color: rgba(255, 255, 255, 0.5);
                        }
                        &_down{
                            display: flex;
                            align-items: center;
                            column-gap: 2.93px;
                            &_title{
                                width: 50px;
                                height: 12px;
                                @include Inter(400);
                                font-size: 10px;
                                color: #fff;
                            }
                            &_sum{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 36.02px;
                                height: 17px;
                                background: yellow;
                                @include Inter(400);
                                font-size: 10px;
                                border-radius: 3px;;
                            }
                        }  
                    }
                }
                &_basket-container{
                    display: flex;
                    align-items: center;
                    width: 119px;
                    height: 31px;
                    &_svg{
                        width: 25.88px;
                        height: 23px;
                    }
                    &_title-container{
                        color:rgba(255, 255, 255, 0.5);
                        &_down{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 86.02px;
                            height: 17px;
                            background: yellow;
                            @include Inter(400);
                            font-size: 10px;
                            color:black;
                        }
                    }
                }
            }
        }
    }
}
.list{
    margin-left: 133px;
    display: flex;
    row-gap: 3.64px;
    flex-direction: column;
    list-style: none;
    width: 330px;
    height: 625px;
    padding-top: 19px;
    border-radius:  0 0 20px 20px;
    &_item{
        display: flex;
        align-items: center;
        width: 330px;
        height: 37px;
        justify-content: space-between;
        padding: 0 15px;
        cursor: pointer;
        &_dicrout-container{
            display: flex;
            column-gap: 10px;
            &_discrout-svg{
                width: 15.06px;
                height: 16px;
            }
        }
       &_row-list{
        width: 5.1px;
        height: 18px;
       }
       &_smartphone-container{
        display: flex;
        column-gap: 10px;
        &_phone-svg{
            width: 12.24px;
            height: 16px;
        }
       }
       &_kitchen-container{
        display: flex;
        column-gap: 10px;
        &_kitchen-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_house-container{
        display: flex;
        column-gap: 10px;
        &_house-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_pc-container{
        display: flex;
        column-gap: 10px;
        &_pc-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_tv-container{
        display: flex;
        column-gap: 10px;
        &_tv-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_game-container{
        display: flex;
        column-gap: 10px;
        &_game-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_watch-container{
        display: flex;
        column-gap: 10px;
        &_watch-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_photo-container{
        display: flex;
        column-gap: 10px;
        &_photo-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_garden-container{
        display: flex;
        column-gap: 10px;
        &_garden-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_dishes-container{
        display: flex;
        column-gap: 10px;
        &_dishes-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_sport-container{
        display: flex;
        column-gap: 10px;
        &_sport-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_tool-container{
        display: flex;
        column-gap: 10px;
        &_tool-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_toys-container{
        display: flex;
        column-gap: 10px;
        &_toys-svg{
            width: 16px;
            height: 16px;
        }
       }
       &_more-container{
        display: flex;
        column-gap: 10px;
        &_more-svg{
            width: 16px;
            height: 16px;
        }
       }
    }
}
.end{
    border-radius: 0 0 20px 20px;
}
.fontSize{
    @include Inter(400);
    font-size: 11px;
    color: #fff;
}
.slider{
    display: flex;
    width: 1075px;
    height: 326px;
}
.slider-img{
    width: 1075px;
    height: 326px;
}
@media screen and (max-width:425px){
    .header{
        width: 425px;
        padding: 0 16px;
        &_top-container{
            order: 1;
            &_content-top{
                width: 393px;
                &_logo-container{
                    display: none;
                }
                &_city-btn{
                    display: none;
                }
                &_items{
                    display: none;
                }
                &_right-content{
                    display: none;
                }
                &_burger-menu{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 392px;
                    height: 35px;
                    background: black;
                    border: none;
                    padding: 0;
                    align-items: center;
                    column-gap: 8px;
                    border-radius: 4px;
                    &_svg{
                        width: 12px;
                        height: 11px;
                    }
                    &_svg-mobile{
                        display: none
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 11px;
                        color: white;
                    }
                }
            }
        }
        &_down-container{
            order: 0;
            &_contenet-down{
                width: 393px;
                &_stats-account{
                    width: 25.88px;
                    height: 23.2px;
                    &_comparison{
                        display: none;
                    }
                    &_heart{
                        display: none;
                    }
                    &_bonus-container{
                        display: none;
                    }
                    &_basket-container{
                        width: 25.88px;
                        height: 23.2px;
                        &_svg-mobile{
                            width: 38px;
                            height: 50px;
                        }
                        &_title-container{
                            display: none;
                        }
                    }
                }
                &_burger-menu{
                    width: 38px;
                    height: 50px;
                    background: none;
                    &_svg{
                        display: none;
                    }
                    &_svg-mobile{
                        display: block;
                        width: 38px;
                        height: 50px;
                    }
                    &_title{
                        display: none;
                    }
                }
                &_search-panel{
                    width: 301.13px;
                    height: 46px;
                    margin-left: 0;
                    &_microphone{
                        display: flex;
                    }
                    &_btn{
                        display: none;
                    }
                    &_svg{
                        fill: black;
                    }
                }
            }
        }
    }
    .list{
        display: none;
    }
    .slider{
        width: 412px;
        position: relative;
        left: 13px;
        height: 170px;
    }
    .slider-img{
        width: 412px;
    }
}
@media screen and (min-width=451px) and (max-width:768px){
    .header{
        width: 768px;
        padding: 0 16px;
        &_top-container{
            order: 1;
            &_content-top{
                display: flex;
                justify-content: center;
                width: 736px;
                &_logo-container{
                    display: none;
                }
                &_city-btn{
                    display: none;
                }
                &_items{
                    display: none;
                }
                &_right-content{
                    display: none;
                }
                &_burger-menu{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 736px;
                    height: 35px;
                    background: black;
                    border: none;
                    padding: 0;
                    align-items: center;
                    column-gap: 8px;
                    border-radius: 4px;
                    &_svg{
                        width: 12px;
                        height: 11px;
                    }
                    &_svg-mobile{
                        display: none
                    }
                    &_title{
                        @include Inter(400);
                        font-size: 11px;
                        color: white;
                    }
                }
            }
        }
        &_down-container{
            order: 0;
            &_contenet-down{
                width: 736px;
                &_stats-account{
                    width: 25.88px;
                    height: 23.2px;
                    &_comparison{
                        display: none;
                    }
                    &_heart{
                        display: none;
                    }
                    &_bonus-container{
                        display: none;
                    }
                    &_basket-container{
                        width: 25.88px;
                        height: 23.2px;
                        &_svg-mobile{
                            width: 38px;
                            height: 50px;
                        }
                        &_title-container{
                            display: none;
                        }
                    }
                }
                &_burger-menu{
                    width: 38px;
                    height: 50px;
                    background: none;
                    &_svg{
                        display: none;
                    }
                    &_svg-mobile{
                        display: block;
                        width: 38px;
                        height: 50px;
                    }
                    &_title{
                        display: none;
                    }
                }
                &_search-panel{
                    width: 532px;
                    height: 46px;
                    margin-left: 0;
                    &_btn{
                        display: none;
                    }
                    &_svg{
                        fill: black;
                    }
                    &_microphone{
                        display: none;
                    }
                }
            }
        }
    }
    .list{
        display: none;
    }
    .slider{
        width: 753px;
        position: relative;
        left: 13px;
        height: 170px;
    }
    .slider-img{
        width: 753px;
    }
}